%h1 Send a reply
= form_for [@squatter, @message], role: "form" do |f|
  = f.hidden_field :sender_id, value: current_squatter.id
  = f.hidden_field :replied_to_id, value: @replied_to.id

  %fieldset.field
    = f.label :recipient_id, t("message.recipient")
    = f.text_field :recipient_id, value: @squatter.id,
      "aria-labelledby": "recipient", tabindex: 1

  %fieldset.field
    = f.label :title, t("message.title")
    = f.text_field :title, "aria-labelledby": "title", value: "Re: #{@replied_to.title}",
      tabindex: 2

  %fieldset.field
    = f.label :body, t("message.body")
    = f.text_area :body, "aria-labelledby": "body", autofocus: true, tabindex: 3

  %fieldset.field
    = f.submit t("message.submit")
