<%- if devise_mapping.omniauthable? %>
  <ul class="no-bullet inline-list row">
    <li class="col--1-3">
      <%= link_to omniauth_authorize_path(resource_name, :facebook), class: "btn btn-facebook anchor-text-no-underline" do %>
	<i class="fa fa-facebook"></i>
	Sign in with <%= OmniAuth::Utils.camelize(:facebook) %>
      <% end %>
    </li>
    <li class="col--1-3">
      <%= link_to omniauth_authorize_path(resource_name, :twitter), class: "btn btn-twitter anchor-text-no-underline" do %>
	<i class="fa fa-twitter"></i>
	Sign in with <%= OmniAuth::Utils.camelize(:twitter) %>
      <% end %>
    </li>
    <li class="col--1-3">
      <%= link_to omniauth_authorize_path(resource_name, :instagram), class: "btn btn-instagram anchor-text-no-underline" do %>
	<i class="fa fa-instagram"></i>
	Sign in with <%= OmniAuth::Utils.camelize(:instagram) %>
      <% end %>
    </li>
  </ul>
<% end -%>

