%main.row(itemscope itemtype="https://schema.org/Place")
  %h1 Abode submissions pending approval

  %table
    %thead
      %th
        %strong= t("abode.title")
      %th
        %strong= t("abode.images")
      %th.hide-mobile
        %strong= t("abode.description")
      %th
        %strong= t("abode.location")
      %th
        %strong= t("abode.residential")
      %th
        %strong= t("abode.submitted_at")
    %tbody
      - @pending_abodes.each do |abode|
        %tr
          %td= abode.title
          %td(itemprop="photo")
            - unless abode.abode_images.empty?
              = image_tag abode.abode_images[0].file_name.url,
                width: "120rem", alt: "Abode Image"
              %br
              - if abode.abode_images.count > 1
                %ul.display-inline.no-bullet
                  - abode.abode_images.each_with_index do |image, index|
                    %li
                      = link_to index, image.file_name.url unless index.zero?
          %td.hide-mobile= abode.description
          %td(itemprop="address")= abode.location
          %td= abode.residential.humanize
          %td= abode.created_at
