%section.m-1-bottom
  .btn.btn-primary.anchor-text-no-underline.m-1-bottom.no-wrap
    Find an abode
  .abode-search.m-1-top
    = form_tag search_path, method: :get do
      %fieldset
        %label#Distance_in_km= t("abode.distance")
        %input{ type: "hidden", name: "q[squatter_id]",
                value: current_squatter.id }
        %input{ type: "hidden", name: "q[squatter_lat]",
                value: current_squatter.latitude }
        %input{ type: "hidden", name: "q[squatter_lon]",
                value: current_squatter.longitude }
        %input{ type: "range", name: "q[distance]", min: "0",
          max: "100", value: "0", step: "1", id: "abode_distance", 
          "aria-labelledby": "Distance_in_km", tabindex: 1 }
      %fieldset
        %label#Residential_only_= t("abode.residential_only")
        = check_box_tag "q[residential_only]", true, false,
          "aria-labelledby": "Residential_only_", tabindex: 2

        %label#Non_Residential_only_= t("abode.non_residential_only")
        = check_box_tag "q[non_residential_only]", true, false,
          "aria-labelledby": "Non_Residential_only_", tabindex: 3
      %fieldset
        %label#Sleep_number= t("abode.sleeps_number")
        = select_tag "q[sleeps_number]", options_for_select([t("any")] + [*1..100]),
          "aria-labelledby": "Sleep_number", tabindex: 4
      %fieldset
        = submit_tag "Search", class: "btn btn-primary"
%section.m-2-top
  = link_to "Find another squatter", squatter_search_path,
    class: "btn btn-primary anchor-text-no-underline m-1-bottom no-wrap"

