%main
  %h1 Search
  .row
    .col--3-9.col--mob-1-4.m-0-top
      = render "pages/abode_search_form"

    %section.col--6-9.col--mob-3-4
      - unless @total_results.nil?
        .result-count
          Found 
          %span.result-count
            = "#{@total_results} #{"result".pluralize(@total_results)}."
        %ul.no-bullet
          - @search_results.each do |result|
            %li
              = render partial: "abodes/abode", locals: { abode: Abode.find(result.id) }

      - unless @total_squatters.nil?
        .result-count
          Found 
          %span.result-count
            = "#{@total_squatters} #{"result".pluralize(@total_squatters)}."
        %ul.no-bullet
          - @squatter_search_results.each do |result|
            %li
              = link_to result.username, squatter_path(result)

