%main
  %h1 Search
  .row
    .col--4-9.col--mob-4-4.m-1-bottom
      = render "pages/squatter_search_form"

    %section.col--5-9.col--mob-4-4.m-o-top
      - unless @total_squatters.nil?
        .result-count
          Found 
          %span.result-count
            = "#{@total_squatters} #{"result".pluralize(@total_squatters)}."
        %ul.no-bullet
          - @squatter_search_results.each do |result|
            %li
              = link_to result.username, squatter_path(result)

