%nav
  .col--10-12-offset-1.col--mob-4-4(role="menu")
    .row
      %ul.inline-list.no-bullet
        %li
          = link_to "Home", root_path, class: "anchor-text-no-underline"
          = link_to "Squatters' Info", help_pages_path, class: "anchor-text-no-underline"
        - if current_squatter
          %li
            = link_to "Find a new abode!", search_path,
              class: "anchor-text-no-underline"
      %ul.inline-list.no-bullet.align-right.m--2-top
        - if current_squatter
          %li
            = link_to(inbox_squatter_messages_path(current_squatter),
              "aria-label": "Inbox", title: "Inbox", id: "inbox", 
              class: "anchor-text-no-underline") do
              %i.fa.fa-inbox
          %li
            = link_to "Log Out", destroy_squatter_session_path,
              method: :delete, class: "anchor-text-no-underline"
        - else
          %li
            = link_to "Sign Up", new_squatter_registration_path,
              class: "anchor-text-no-underline"
          %li
            = link_to "Log In", new_squatter_session_path,
              class: "anchor-text-no-underline"
