!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %title OccupyBnB
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = link_to "Log out", destroy_squatter_session_path, method: :delete
    = render "layouts/alerts"
    = yield
